.wrapper {
    box-sizing: border-box;
    color: #fff;
    padding: 0 90px;
    width: calk(100%-340px);
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 100%;
    max-width: 100%;
}

.productBlock {
    position: relative;
    width : calc(25% - 30px);
    border: 1px solid rgb(121, 119, 119);
    border-radius: 3%;
    font-size: 16px;
    margin : 0 0 30px 0;
}

.productBlock:not(:nth-child(4n)) {
    margin-right: 40px;
}

.productContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 10px 20px 0 20px;
    padding-bottom: 18%;
}

.photo {
    width: 100%;
    object-fit: fill;
}

.registration {
    padding: 5px 0;
}

.productInfo {
    display: flex;
    justify-content: space-between;
}

.weight,
.description {
    color: rgb(121, 119, 119);
}

.description {
    margin: 5px 0 20px 0;
}

.registration {
    position: absolute;
    bottom: 10px;
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

.btnAdd {
    border-radius: 6px;
    padding: 12px 20px;
    color: #fff;
    background: #282828;
    outline: none;
    border: none;
    font-size: 18px;
}