.switcherSize,
.switcherThickness {
    padding: 7px 0;
}

.productBtn {
    font-size: 14px;
    display: inline-block;
    border-radius: none;
    padding: 10px 15px;
    border-radius: 6px;
    outline: none;
    border: none;
    transition: background .3s ease, color .3 ease;
}

.productBtn:hover {
    background: yellow;
}

.productBtn:not(:last-child) {
    margin-right: 5px;
}

.switchers{
    padding-bottom: 40px;
}

.active {
    background: yellow;
}