.content {
    margin-bottom: 50px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 29px;
}

.filter {
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
}