.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    background-color: #282828;
    left: 340px;
    top : 0;
    padding: 18px 40px;
    width : calc(100% - 340px);
    z-index: 22;
}

.list {
    display: flex;
}

.list li:not(:last-child) {
    margin-right: 65px;
}

.link, .enterBtn {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
}

.enterBtn {
  background: transparent;
  outline: none;
  border : none;
  padding: 4px 0;
}

.user,
.products {
    position: relative;
}

.user::before,
.products::after {
    content: '';
    position: absolute;
    cursor: pointer;
}

.user::before {
    background: url(../../images/userIcon.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    left: -25px;
    top: 6px;
}

.user:hover,
.link:hover{
    transition: filter .3s ease-out;
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(5500%) contrast(0.7);
}

.products::after {
    background: url(../../images/basketIcon.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    left: 9px;
    top: 6px;
    filter: brightness(0);
}

.products {
    display: flex;
    background: #fff;
    padding : 8px 40px;
    font-size: 16px;
    color : #000;
    border-radius: 8%;
}

.price{
    position: relative;
   padding-left: 30px;
}

.price::before {
    display: block;
    position: absolute;
    content: '';
    top : -2px;
    left : 18px;
    background: #000;
    width : 1px;
    height : 25px;
    z-index: 22;
}