* {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.app {
  outline: 1px solid green;
}

.container {
  margin: 0 auto;
  max-width: 1680px;
  outline: 1px solid red;
}
